.Navbar {
    background-color: rgb(14, 9, 115);
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  
  .ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
  }
  
  .ul li {
    margin-top: 8px;
  }
  
  .nav-link {
    color: azure;
    text-decoration: none; 
    padding: 10px;
  }
  
  .nav-link:hover {
    text-decoration: underline; 
  }

  .nav-lin {
    color: azure;
    text-decoration: none; 
    padding: 10px;
  }

  .tyu {
    color: aliceblue;
    font-size: 20px;
  }
